<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!--
        1. 개인정보
        2. 위치정보
        3. 비용이 발생할 가능성이 있는 작업
        4. 베터리를 많이 소모하는 등등의 작업

        위의 작업을 app 에서 한다면 허가을 얻어내야 한다.

        아래는 인터냇 자원을 사용하겠다는 permission
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyAndroid"
        android:usesCleartextTraffic="true"> <!-- https 가 아닌 http 요청도 가능하게 하는 설정 -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>